<nav
  class="navbar navbar-expand-lg navbar-light bg-light mb-4"
  style="border-bottom: solid thin #d3d2d2"
>
  <a><b>Demo |</b></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/"
          ><span class="fa fa-home"></span>&nbsp;Home
          <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="cart"
          ><span class="fa fa-shopping-cart"></span>&nbsp;Shopping Cart</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink=""
          ><span class="fa fa-clipboard"></span>&nbsp;Templates</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink=""
          ><span class="fa fa-list"></span>&nbsp;Orders</a
        >
      </li>
       <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          My Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Address Book</a>
          <a class="dropdown-item" href="#">Accounts</a>
          <a class="dropdown-item" href="#">Personal Profile</a>
          <a class="dropdown-item" href="#">Change Password</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Save Orders</a>
          <a class="dropdown-item" href="#">Delivery Tracking</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink=""
          ><span class="fa fa-wrench"></span>&nbsp;Pro+ Tools</a
        >
      </li>
    </ul>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <span class="text-primary">
        <i class="fa fa-building"></i>
        &nbsp;250009 - CASH - FT WORTH BR 968</span
      >
      &nbsp;
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>
